.scene
  .hills
  .kitt
    .kitt__smoke
    .kitt__smoke
    .kitt__smoke
    .kitt__mirror.kitt__mirror--left
    .kitt__mirror.kitt__mirror--right
    .kitt__body
      .kitt__hood
      .kitt__hood-panel
      .kitt__headlight.kitt__headlight--left
      .kitt__headlight.kitt__headlight--right
      .kitt__lowlight.kitt__lowlight--left
      .kitt__lowlight.kitt__lowlight--right
      .kitt__beam
      .kitt__license kitt
    .kitt__roof
      .kitt__window
        .hasselhoff
    .kitt__tire.kitt__tire--left
      .kitt__tire-line
      .kitt__tire-line
      .kitt__tire-line
    .kitt__tire.kitt__tire--right
      .kitt__tire-line
      .kitt__tire-line
      .kitt__tire-line
    
  .boxes
    .box.bassbox Bass
    .box.kickbox Kick
    .box.snarebox Snare
    .box.pizzbox Pizz
    .box.highhatbox HH
    
  form#music-controls.music-controls
    label BPM
      input#bpm-range.bpm-range(type='range', min='10', max='100', value='60')
    input#play-btn.play-btn(type='button', value='play')